[Desktop Entry]
Type=Application
Name=Portalview
Comment=Connect to remote Windows desktops
Exec=portalview
Icon=@CMAKE_INSTALL_FULL_DATADIR@/pixmaps/portalview.png
Terminal=false
Categories=Network;RemoteAccess;
StartupWMClass=portalview
